SetEnv APPLICATION_ENV "development"
SetEnv DB_HOST (YOUR_DB_HOST)
SetEnv DB_NAME (YOUR_DB_NAME)
SetEnv DB_USERNAME (YOUR_DATABASE_USERNAME)
SetEnv DB_PASSWORD (YOUR_DATABASE_PASSWORD)
SetEnv LINE_CHANNEL_TOKEN (YOUR_LINE_TOKEN)
SetEnv LINE_CHANNEL_SECRET (YOUR_LINE_SECRET)
SetEnv CURRENCY_KEY (YOUR_CURRENCY_API_KEY)
SetEnv PAPAGO_CLIENT_ID (YOUR_PAPAGO_ID)
SetEnv PAPAGO_CLIENT_SECRET (YOUR_PAPAGO_SECRET)
SetEnv MAP_API_KEY (YOUR_GOOGLE_API_KEY)
SetEnv WEATHER_API_KEY (YOUR_WEATHER_API_KEY)